---
import { Image } from "astro:assets";
import SizeButtons from "@/components/SizeButtons.jsx";
import SocialComponent from "./SocialComponent.astro";
import ShopButtonClient from "@/components/ShopButtonClient.jsx";

const { product, category } = Astro.props;
const { id, name, image, price, description, stock, category_id } = product;

---

<main class="product">
  <!--Product Header -->
  <div class="product prod-header">
    <h1>{name}</h1>
    <p>{description}</p>
    <p class="price">
      {
        price.toLocaleString("es-CL", {
          currency: "CLP",
          style: "currency",
          minimumFractionDigits: 0,
        })
      }
    </p>
  </div>
  <!--Product Image -->
  <div class="product prod-img"></div>
  <Image src={image} alt={name} inferSize={true} />
  <!--Product Footer -->
  <div class="product prod-footer">
    <SizeButtons client:load />
    <div class="prod-bottom-footer">
      <ShopButtonClient client:load />
      <SocialComponent />
    </div>
  </div>
</main>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    padding: 2rem;
  }

  .prod-header {
    justify-items: start;
  }

  .price {
    font-size: xx-large;
  }

  .prod-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .prod-bottom-footer {
      display: flex;
      gap: 1rem;
    }
  }

  img {
    object-fit: cover;
  }

  @media (max-width: 667px) {
    img {
      width: auto;
      max-height: 350px;
      object-fit: cover;
    }
  }
</style>
