---
import type { Product } from "@/types/Product";
import type { Category } from "@/types/Category";
import { Image } from "astro:assets";

type Props = {
  product: Product;
  categoryName: Category["name"];
};

const { product, categoryName } = Astro.props;
const { id, name, image, price } = product;
---

<div class="product-card">
  <a href=`/products/${categoryName}/${id}`>
    <Image class="product-image" src={image} alt={name} inferSize={true} />
  </a>
  <h3 class="product-name">{name}</h3>
  <p class="product-price">
    {
      price.toLocaleString("es-CL", {
        currency: "CLP",
        style: "currency",
        minimumFractionDigits: 0,
      })
    }
  </p>
</div>

<style>
  .product-card {
    background: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }

  .product-card:hover {
    transform: scale(1.05);
  }

  .product-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
  }

  .product-name {
    font-size: 18px;
    font-weight: bold;
    margin: 12px 0 6px;
  }

  .product-price {
    color: #555;
    font-size: 16px;
    margin-bottom: 10px;
  }

</style>
