---
import type { Product } from "@/types/Product";
import type { Category } from "@/types/Category";
import { Image } from "astro:assets";

type Props = {
  product: Product;
};

const { product } = Astro.props;
const { id, name, image } = product;
---

<!-- <p class="price">
  {
    price.toLocaleString("es-CL", {
      currency: "CLP",
      style: "currency",
      minimumFractionDigits: 0,
    })
  }
</p> -->
<article>
  <a href=`/cloths/${id}`>
    <Image src={image} alt={name} inferSize={true} />
  </a>
  <h3>{name}</h3>
</article>

<style>
  article {
    max-width: 300px;
    margin: auto;
    text-align: center;
    align-items: center;
    background-color: white;

    img {
      width: 100%;
      height: auto;
      background-size: cover;
      border-radius: 8px;
    }
  }

  .price {
    color: grey;
    font-size: 30px;
  }

  button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-bottom: 0px;
  }
</style>
